# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# generated native folders
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env
.env
.env.*
!.env.example

# Supabase local
supabase/.branches/
supabase/.temp/

# typescript / tests
*.tsbuildinfo
coverage/
